@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.font1 {
  font-family: "Plus Jakarta Sans", sans-serif;
}
.font2 {
  font-family: "Public Sans", sans-serif;
}

table {
  border: solid 2px #f8f9fa;
  /* width: 0full; */
}
/* background-color: #000; */

th,
td {
  padding: 15px;
  text-align: center;
  /* margin: auto; */
}

body::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar {
  display: hidden;
  width: 0px;
}

th {
  background: #f8f9fa;
  /* text-align: center; */
}
td {
  /* background: #f8f9fa; */
  border-bottom: solid 3px #f8f9fa;
  /* text-align: center; */
}
tr:nth-of-type(2n) {
  background: #f8f9fab2;
}

.d {
  animation: d 1.8s infinite;
}
@keyframes d {
  0% {
    opacity: 0.25;
  }
  33% {
    opacity: 0.5;
  }
  66% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

.b {
  animation: b 1.8s infinite;
}
@keyframes b {
  0% {
    opacity: 1;
  }
  33% {
    opacity: 0.25;
  }
  66% {
    opacity: 0.5;
  }
  100% {
    opacity: 0.75;
  }
}

.s {
  animation: s 1.8s infinite;
}
@keyframes s {
  0% {
    opacity: 0.75;
  }
  33% {
    opacity: 1;
  }
  66% {
    opacity: 0.25;
  }
  100% {
    opacity: 0.5;
  }
}
.a {
  animation: a 1.8s infinite;
}
@keyframes a {
  0% {
    opacity: 0.5;
  }
  33% {
    opacity: 0.75;
  }
  66% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
/* 
@media screen and (max-width: 1100px) {
  th,
  td {
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    /* margin: auto; */
/* }
}  */
/* 
@media screen and (max-width: 700px) {
  th {
    display: none;
  }
  td {
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    text-align: center;
    border: none;
    /* text-transform: capitalize; */
/* margin: auto; */
/* }
  td:before {
    content: attr(data-cell) " : ";
    text-transform: lowercase;
    /* text-transform: capitalize; */
/* } */
/* } */
